In [1]:
%matplotlib inline
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [2]:
df_train = pd.read_csv('jinnan_round1_train_20181227.csv',encoding='gbk')
df_test = pd.read_csv('jinnan_round1_testA_20181227.csv',encoding='gbk')
print(df_train.shape)
print(df_test.shape)

(1396, 44)
(150, 43)

In [3]:
df_train.head()

,样本id,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,B6,B7,B8,B9,B10,B11,B12,B13,B14,收率
0,sample_1528,300,NaN,405.0,700,13:30:00,38.0,NaN,NaN,15:30:00,...,65,11:30:00,45.0,11:30-13:00,14:00-15:30,NaN,800.0,0.15,400,0.879
1,sample_1698,300,NaN,405.0,700,14:00:00,29.0,NaN,NaN,16:00:00,...,80,6:00:00,45.0,6:00-7:30,7:30-9:00,9:00-10:00,1200.0,0.15,400,0.902
2,sample_639,300,NaN,405.0,700,14:00:00,29.0,NaN,NaN,16:00:00,...,80,1:00:00,45.0,1:00-2:30,2:30-4:00,4:00-5:00,1200.0,0.15,400,0.936
3,sample_483,300,NaN,405.0,700,1:30:00,38.0,NaN,NaN,3:00:00,...,65,18:00:00,45.0,19:00-20:30,21:30-23:00,NaN,800.0,0.15,400,0.902
4,sample_617,300,NaN,405.0,700,22:00:00,29.0,NaN,NaN,0:00:00,...,80,9:00:00,45.0,9:00-10:30,10:30-12:00,12:00-13:00,1200.0,0.15,420,0.983

In [4]:
df_train.dtypes

样本id     object
A1        int64
A2      float64
A3      float64
A4        int64
A5       object
A6      float64
A7       object
A8      float64
A9       object
A10       int64
A11      object
A12       int64
A13     float64
A14      object
A15     float64
A16      object
A17     float64
A18     float64
A19       int64
A20      object
A21     float64
A22     float64
A23     float64
A24      object
A25      object
A26      object
A27       int64
A28      object
B1      float64
B2      float64
B3      float64
B4       object
B5       object
B6        int64
B7       object
B8      float64
B9       object
B10      object
B11      object
B12     float64
B13     float64
B14       int64
收率      float64
dtype: object

In [5]:
df_train.count()

样本id    1396
A1      1396
A2        42
A3      1354
A4      1396
A5      1396
A6      1396
A7       149
A8       149
A9      1396
A10     1396
A11     1396
A12     1396
A13     1396
A14     1396
A15     1396
A16     1396
A17     1396
A18     1396
A19     1396
A20     1396
A21     1393
A22     1396
A23     1393
A24     1395
A25     1396
A26     1394
A27     1396
A28     1396
B1      1386
B2      1394
B3      1394
B4      1396
B5      1395
B6      1396
B7      1396
B8      1395
B9      1396
B10     1152
B11      547
B12     1395
B13     1395
B14     1396
收率      1396
dtype: int64

In [6]:
df_train.var()

A1       102.628093
A2         0.000000
A3       178.171600
A4      2831.810087
A6        45.464875
A8         7.203428
A10        0.819384
A12        0.837933
A13        0.000006
A15        0.928599
A17        1.964051
A18        0.000007
A19     2548.035606
A21       24.765865
A22        0.136273
A23        0.018670
A27        9.268922
B1     11050.372675
B2         0.150998
B3         0.000007
B6        83.941984
B8        18.821678
B12    42403.110103
B13        0.000067
B14      676.957667
收率         0.000954
dtype: float64

In [7]:
df_train.mean()

A1      298.853868
A2      125.000000
A3      403.515510
A4      705.974212
A6       28.287751
A8       78.818792
A10     100.861032
A12     102.641834
A13       0.199907
A15     103.829370
A17     104.766905
A18       0.199928
A19     231.067335
A21      48.707825
A22       9.117120
A23       5.002872
A27      74.396848
B1      334.452742
B2        3.454412
B3        3.500072
B6       72.065186
B8       43.709677
B12    1020.215054
B13       0.149419
B14     410.403295
收率        0.923244
dtype: float64

In [8]:
df_train.sort_values('A5',ascending=False).head()

,样本id,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,B6,B7,B8,B9,B10,B11,B12,B13,B14,收率
348,sample_1326,300,NaN,405.0,700,9:40:00,30.0,NaN,NaN,11:00:00,...,80,19:30:00,45.0,19:30-23:30,NaN,NaN,1200.0,0.15,440,0.930
1293,sample_973,300,NaN,405.0,700,9:30:00,21.0,NaN,NaN,11:00:00,...,65,17:40:00,45.0,17:45-19:20,20:00-21:40,NaN,900.0,0.15,400,0.879
248,sample_1040,200,NaN,270.0,470,9:30:00,21.0,NaN,NaN,11:00:00,...,65,20:00:00,45.0,20:00-21:30,NaN,NaN,400.0,0.15,256,0.866
27,sample_582,300,NaN,405.0,700,9:30:00,20.0,NaN,NaN,11:30:00,...,65,19:30:00,45.0,19:30-20:30,21:30-22:00,NaN,1200.0,0.15,420,0.935
1358,sample_1456,300,NaN,405.0,700,9:00:00,21.0,NaN,NaN,11:00:00,...,65,6:30:00,45.0,8:30-9:30,10:00-11:00,NaN,800.0,0.15,385,0.879

In [9]:
df_train[df_train['样本id']=='sample_1023']

,样本id,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,B6,B7,B8,B9,B10,B11,B12,B13,B14,收率
1140,sample_1023,300,NaN,405.0,700,1900/1/21 0:00,21.0,NaN,NaN,22:30:00,...,60,14:00:00,50.0,14:30-16:00,16:40-18:20,NaN,800.0,0.15,400,0.902

In [10]:
ds = df_train.columns
dj = df_train.dtypes
dj_n = [str(i) for i in dj]
dj_n

['object',
 'int64',
 'float64',
 'float64',
 'int64',
 'object',
 'float64',
 'object',
 'float64',
 'object',
 'int64',
 'object',
 'int64',
 'float64',
 'object',
 'float64',
 'object',
 'float64',
 'float64',
 'int64',
 'object',
 'float64',
 'float64',
 'float64',
 'object',
 'object',
 'object',
 'int64',
 'object',
 'float64',
 'float64',
 'float64',
 'object',
 'object',
 'int64',
 'object',
 'float64',
 'object',
 'object',
 'object',
 'float64',
 'float64',
 'int64',
 'float64']

In [11]:
def get_num_col(col,dtypes):
    get = []
    for i,j in zip(col,dtypes):
        if j ==  'object':
            get.append(i)
        else:
            pass
    return get

obj_f = get_num_col(ds,dj_n)

In [19]:
df_train = df_train.fillna(0)
df_train = df_train.drop(obj_f,axis=1)

In [20]:
Y_train = df_train['收率']
X_train = df_train.drop('收率',axis=1)

In [21]:
X_data2 = X_train.copy()
Y_data = Y_train.copy()

In [23]:
X_data2.head()

,A1,A2,A3,A4,A6,A8,A10,A12,A13,A15,...,A23,A27,B1,B2,B3,B6,B8,B12,B13,B14
0,300,0.0,405.0,700,38.0,0.0,100,102,0.2,103.0,...,5.0,70,350.0,3.5,3.5,65,45.0,800.0,0.15,400
1,300,0.0,405.0,700,29.0,0.0,101,103,0.2,104.0,...,5.0,73,320.0,3.5,3.5,80,45.0,1200.0,0.15,400
2,300,0.0,405.0,700,29.0,0.0,102,103,0.2,104.0,...,5.0,73,320.0,3.5,3.5,80,45.0,1200.0,0.15,400
3,300,0.0,405.0,700,38.0,0.0,100,102,0.2,103.0,...,5.0,78,290.0,3.5,3.5,65,45.0,800.0,0.15,400
4,300,0.0,405.0,700,29.0,0.0,101,103,0.2,104.0,...,5.0,73,320.0,3.5,3.5,80,45.0,1200.0,0.15,420

In [24]:
%matplotlib inline
import pandas as pd
import numpy as np
import lightgbm as lgb
import warnings
import matplotlib.pylab as plt
from sklearn.ensemble import RandomForestRegressor 
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.grid_search import GridSearchCV
from sklearn import cross_validation, metrics
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.linear_model import LassoCV
from sklearn.metrics import mean_squared_error
warnings.filterwarnings("ignore")

In [25]:
import pandas as pd
import numpy as np
from sklearn.linear_model import RidgeCV
from sklearn.metrics import mean_absolute_error
from sklearn.svm import SVR
from sklearn.linear_model import LassoCV
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error


x_train,x_test,y_train,y_test = train_test_split(X_data2,Y_data,train_size = 0.7,random_state=100)
#############################################
svr_ = SVR(kernel='rbf', degree=5, coef0=0.0, tol=0.01, C=1.0, epsilon=0.01, shrinking=True, cache_size=200, verbose=False, 
           max_iter=-1).fit(x_train,y_train)
print('svr：%f' % mean_squared_error(y_test,svr_.predict(x_test)))
#############################################
x_train,x_test,y_train,y_test = train_test_split(X_data2,Y_data,train_size = 0.7,random_state=110)
lgb_ = lgb.LGBMModel(boosting_type='gbdt', num_leaves=35, max_depth=20, max_bin=255, learning_rate=0.05,n_estimator=10,
                                                   subsample_for_bin=2000, objective='regression', min_split_gain=0.0, 
                                                   min_child_weight=0.001, min_child_samples=20, subsample=1.0, verbose= 0,
                                                   subsample_freq=1, colsample_bytree=1.0, reg_alpha=0.0, reg_lambda=0.0,
                                                   random_state=81, n_jobs=-1, silent=True).fit(x_train,y_train)
print('lgb：%f' % mean_squared_error(y_test,lgb_.predict(x_test)))
############################################
x_train,x_test,y_train,y_test = train_test_split(X_data2,Y_data,train_size = 0.7,random_state=111)
rf = RandomForestRegressor(n_estimators= 50, max_depth=30, min_samples_split=20,
                                  min_samples_leaf=10,max_features='sqrt' ,oob_score=True, random_state=10).fit(x_train,y_train)
print('r f：%f' % mean_squared_error(y_test,rf.predict(x_test)))
#############################################
ls = LassoCV(cv=10).fit(x_train,y_train)
print('l s：%f' % mean_squared_error(y_test,ls.predict(x_test)))
#############################################
x_train,x_test,y_train,y_test = train_test_split(X_data2,Y_data,train_size = 0.7,random_state=122)
bdt = AdaBoostRegressor(DecisionTreeRegressor(max_depth=25, min_samples_split=50, min_samples_leaf=20,criterion='mse'),loss='square',
                         n_estimators=100, learning_rate=0.7)
bdt.fit(x_train,y_train)
print('bdt: %.6f '%mean_squared_error(y_test,bdt.predict(x_test)))
#############################################
x_train,x_test,y_train,y_test = train_test_split(X_data2,Y_data,train_size = 0.7,random_state=1211)
gbm = GradientBoostingRegressor(learning_rate=0.2, n_estimators=80,max_depth=13, min_samples_leaf =60, 
                                min_samples_split =200, max_features='sqrt', subsample=0.9, random_state=10)

gbm.fit(x_train,y_train)
print('gbm: %.6f' %mean_squared_error(y_test,gbm.predict(x_test)))
#############################################
#cat = CatBoostRegressor(iterations=10, depth=10, learning_rate=0.95, loss_function='RMSE',logging_level=None)
#cat.fit(x_train,y_train, cat_features=None)
#print('cat: %.6f' %mean_squared_error(y_test,cat.predict(x_test)))
#############################################
x_train,x_test,y_train,y_test = train_test_split(X_data2,Y_data,train_size = 0.5,random_state=103)
stack = pd.DataFrame()
stack['svr_'] = svr_.predict(x_test)
stack['lgb_'] = lgb_.predict(x_test)
stack['rf'] = rf.predict(x_test)
stack['ls'] = ls.predict(x_test)
stack['bdt'] = bdt.predict(x_test)
stack['gbm'] = gbm.predict(x_test)
#stack['cat'] = cat.predict(x_test)
#############################################
rg = RidgeCV(cv=5).fit(stack,y_test)
coefs = rg.coef_
intercepts = rg.intercept_
print(coefs,intercepts)
print(mean_squared_error(y_test,rg.predict(stack)))

svr：0.000476
lgb：0.000219
r f：0.000362
l s：0.000553
bdt: 0.000630
gbm: 0.000302
[0.39383221 0.35574861 0.11355435 0.01278304 0.0562848  0.16342128] -0.08835837650410494
0.00017396658585508459

In [26]:
df_pred = df_test.drop(obj_f,axis=1)
df_pred = df_pred.fillna(0)
pred = pd.DataFrame()
pred['svr_'] = svr_.predict(df_pred)
pred['lgb_'] = lgb_.predict(df_pred)
pred['rf'] = rf.predict(df_pred)
pred['ls'] = ls.predict(df_pred)
pred['bdt'] = bdt.predict(df_pred)
pred['gbm'] = gbm.predict(df_pred)

In [27]:
result = rg.predict(pred)

**Git不会用差点删掉了，吓死我了**

In [31]:
sup = pd.DataFrame()

sup['样本id'] = df_test['样本id']
sup['res'] = result
sup['res'] = sup['res'].apply(lambda  x : np.round(x,3))
sup.to_csv('sub.csv',header=None,index=False)
sup.head()

          样本id    res
0  sample_1656  0.918
1  sample_1548  0.879
2   sample_769  0.929
3  sample_1881  0.914
4  sample_1807  0.910